In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [4]:
ano_15 = pd.read_csv("../15.csv")
ano_16 = pd.read_csv("../16.csv")
ano_17 = pd.read_csv("../17.csv")

# Importando o CSV de desemprego

In [6]:
desemprego = pd.read_csv("../desemprego.csv")
desemprego.head(5)

,Country Name,Country Code,2010,2011,2012,2013,2014
0,Afghanistan,AFG,20.600000,20.900000,19.700001,21.100000,20.799999
1,Angola,AGO,10.800000,10.700000,10.700000,10.600000,10.500000
2,Albania,ALB,25.799999,27.000000,28.299999,28.700001,29.200001
3,Arab World,ARB,25.022214,28.117516,29.113212,29.335306,29.704569
4,United Arab Emirates,ARE,9.800000,9.800000,9.800000,9.900000,10.000000

## Eliminamos as colunas do código do pais e os anos 2010 a 2012

In [8]:
desemprego_13 = desemprego.drop(["Country Code", "2010", "2011", "2012", "2014"], axis=1)
desemprego_14 = desemprego.drop(["Country Code", "2010", "2011", "2012", "2013"], axis=1)

desemprego_13.head(5)

           Country Name       2013
0           Afghanistan  21.100000
1                Angola  10.600000
2               Albania  28.700001
3            Arab World  29.335306
4  United Arab Emirates   9.900000

# Crio um novo data frame para juntar a novo coluna de "desemprego"

**utilizando a função concat do pandas conseguimos juntar a data frame do ranking de felicidade com o de indice de desemprego nas colunas indices indicadas como sendo a do pais**

In [9]:

ano_com_desemprego = pd.concat([ano_15.set_index("Country"), desemprego_14.set_index("Country Name")], axis=1, join="inner")
ano_com_desemprego.head(4)

,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2014
Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,8.7
Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,10.9
Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,12.4
Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,8.4

In [10]:
print ("Shape antes {}".format(ano_15.shape))
print ("Shape depois {}".format(ano_com_desemprego.shape))

Shape antes (158, 12)
Shape depois (137, 12)

**Depois de ter adicionado a coluna de desemprego perdemos os dados de 21 paises**

In [11]:
ano_com_desemprego.head(5)

,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2014
Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,8.7
Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,10.9
Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,12.4
Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,8.4
Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,13.4