## Classificação - Naive Bayes

In [9]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [133]:
dados = pd.read_csv('15.csv')
dados = dados.sample(frac=1)
dados.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
31,Uruguay,Latin America and Caribbean,32,6.485,0.04539,1.06166,1.20890,0.81160,0.60362,0.24558,0.23240,2.32142
138,Congo (Brazzaville),Sub-Saharan Africa,139,3.989,0.06682,0.67866,0.66290,0.31051,0.41466,0.11686,0.12388,1.68135
61,Croatia,Central and Eastern Europe,62,5.759,0.04394,1.08254,0.79624,0.78805,0.25883,0.02430,0.05444,2.75414
28,France,Western Europe,29,6.575,0.03512,1.27778,1.26038,0.94579,0.55011,0.20646,0.12332,2.21126
117,Sudan,Sub-Saharan Africa,118,4.550,0.06740,0.52107,1.01404,0.36878,0.10081,0.14660,0.19062,2.20857

In [85]:
cls = MultinomialNB()

In [102]:
X = dados.drop(["Country","Region", "Happiness Rank", 'Happiness Score', "Standard Error"], axis=1)

In [103]:
Y = dados["Region"]
type(Y)

pandas.core.series.Series

In [104]:

Y.to_frame().shape

(158, 1)

In [105]:
X.shape

(158, 7)

In [131]:

X_train = X[:140]
Y_train = Y[:140]
cls.fit(X_train, Y_train)

resultado = cls.predict(X[140:])

print (type(resultado))

<class 'numpy.ndarray'>

In [130]:
resultado.head(3)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,C,e,n,t,r,a,l,,a,n,...,e,r,n,,E,u,r,o,p,e
1,S,u,b,-,S,a,h,a,r,a,...,c,a,None,None,None,None,None,None,None,None
2,S,u,b,-,S,a,h,a,r,a,...,c,a,None,None,None,None,None,None,None,None

In [108]:
Y[140:]

67     Middle East and Northern Africa
130                 Sub-Saharan Africa
157                 Sub-Saharan Africa
42         Latin America and Caribbean
50         Latin America and Caribbean
141                 Sub-Saharan Africa
71                        Eastern Asia
87                      Western Europe
104        Latin America and Caribbean
35                      Western Europe
146                 Sub-Saharan Africa
151                 Sub-Saharan Africa
19     Middle East and Northern Africa
48     Middle East and Northern Africa
3                       Western Europe
138                 Sub-Saharan Africa
82          Central and Eastern Europe
98                   Southeastern Asia
Name: Region, dtype: object