## Classificação - Naive Bayes

In [2]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [3]:
dados = pd.read_csv('../datasets/15.csv')
dados = dados.sample(frac=1)
dados.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
131,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108
56,Nicaragua,Latin America and Caribbean,57,5.828,0.05371,0.59325,1.14184,0.74314,0.55475,0.19317,0.27815,2.32407
21,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
149,Guinea,Sub-Saharan Africa,150,3.656,0.03590,0.17417,0.46475,0.24009,0.37725,0.12139,0.28657,1.99172
30,Czech Republic,Central and Eastern Europe,31,6.505,0.04168,1.17898,1.20643,0.84483,0.46364,0.02652,0.10686,2.67782

In [3]:
cls = MultinomialNB()

In [4]:
X = dados.drop(["Country","Region", "Happiness Rank", 'Happiness Score', "Standard Error"], axis=1)

In [5]:
Y = dados["Region"]
type(Y)

pandas.core.series.Series

In [6]:

Y.to_frame().shape

(158, 1)

In [7]:
X.shape

(158, 7)

In [8]:

X_train = X[:140]
Y_train = Y[:140]
cls.fit(X_train, Y_train)

resultado = cls.predict(X[140:])

print (type(resultado))

<class 'numpy.ndarray'>

In [11]:
resultado

array(['Central and Eastern Europe', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Central and Eastern Europe',
       'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Central and Eastern Europe',
       'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa'],
      dtype='<U31')

In [108]:
Y[140:]

67     Middle East and Northern Africa
130                 Sub-Saharan Africa
157                 Sub-Saharan Africa
42         Latin America and Caribbean
50         Latin America and Caribbean
141                 Sub-Saharan Africa
71                        Eastern Asia
87                      Western Europe
104        Latin America and Caribbean
35                      Western Europe
146                 Sub-Saharan Africa
151                 Sub-Saharan Africa
19     Middle East and Northern Africa
48     Middle East and Northern Africa
3                       Western Europe
138                 Sub-Saharan Africa
82          Central and Eastern Europe
98                   Southeastern Asia
Name: Region, dtype: object